@model sp2023_mis421_mockinterviews.Models.MockInterviewDb.MSTeamsStudentUpload

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MSTeamsStudentUpload</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="MicrosoftId" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <p></p>
            <label asp-for="In221" class="control-label"></label>
            <br />
            <div class="form-check form-check-inline">
                <input id="In221True" class="form-check-input" type="radio" name="In221" value="true" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="In221True">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="In221False" class="form-check-input" type="radio" name="In221" value="false" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="In221False">No</label>
            </div>
            <p></p>
            <label asp-for="InMasters" class="control-label"></label>
            <br />
            <div class="form-check form-check-inline">
                <input id="InMastersTrue" class="form-check-input" type="radio" name="InMasters" value="true" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="InMastersTrue">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="InMastersFalse" class="form-check-input" type="radio" name="InMasters" value="false" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="InMastersFalse">No</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
