@using sp2023_mis421_mockinterviews.Models.ViewModels
@using sp2023_mis421_mockinterviews.Data
@model IndexViewModel

@{
    ViewBag.Title = "Welcome to UA MIS Mock Interviews";
}

<div style="text-align:center">
    <h2>@ViewBag.Title</h2>
</div>
<p style="font-size:20px; text-align:center">
    Thank you for choosing UA MIS Mock Interviews! Our mission is to help you prepare for your upcoming job interviews by providing a realistic simulation of the interview experience. To get started, please create an account or sign in if you already have one.
</p>
@if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.StudentRole))
{
    @await Html.PartialAsync("_VolunteerEventsHomePartial", Model.VolunteerEventViewModels)
}



