@using sp2023_mis421_mockinterviews.Models.ViewModels
@using sp2023_mis421_mockinterviews.Data.Constants
@model IndexViewModel

@{
    ViewBag.Title = "Welcome to UA MIS Mock Interviews!";
}

<div style="text-align:center">
    <h2>@ViewBag.Title</h2>
</div>
@if (User.Identity.IsAuthenticated)
{
    <p style="font-size:20px; text-align:center">
        Our mission is to help students prepare for their upcoming job interviews by <br /> providing a realistic simulation of the interview experience.
    </p>
    <p style="font-size:20px; text-align:center; border-bottom: 2px solid black">
        You have successfully signed in. Important information and your current bookings will be shown below.
    </p>
    <br />
}
else
{
    <p style="font-size:20px; text-align:center">
        Our mission is to help you prepare for your upcoming job interviews by providing a realistic simulation of the interview experience. To get started, please create an account or sign in if you already have one.
    </p>
}

@if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.AdminRole))
{
    <a asp-area="" asp-controller="Home" asp-action="EmailStudents">Email Reminder for Students</a>
}

@if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.AdminRole))
{
    <a asp-area="" asp-controller="Home" asp-action="EmailInterviewers">Email Reminder for Interviewers</a>
}

@if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.StudentRole))
{
    @await Html.PartialAsync("_VolunteerEventsHomePartial", Model.TimeRangeViewModels)
    <br />
    @await Html.PartialAsync("_InterviewEventsPartial", Model.StudentScheduledInterviews)
}

@if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.InterviewerRole))
{
    @await Html.PartialAsync("_SignupInterviewerTimeslotsPartial", Model)
}


