@using sp2023_mis421_mockinterviews.Models.ViewModels
@using sp2023_mis421_mockinterviews.Data.Constants
@using sp2023_mis421_mockinterviews.Models.UserDb;
@using Microsoft.AspNetCore.Identity
@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Welcome to the Mock Interviews App";
}

<div id="disruption-banner" style="
    text-align: center; 
    display: @Model.DisruptionBanner; 
    justify-content: center;">
    <!--This should be displayed based on globalconfigvars-->
    <p class="disruption-banner-text">
        We are currently experiencing sitewide disruption of services, which will be resolved speedily. We apologize for
        the inconvenience.
    </p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div class="home-container max-width-home">

        <h1>Hi @UserManager.GetUserAsync(User).Result.FirstName!</h1>
        <p style="
        font-size: 20px; 
        text-align: center;">
            Your schedule is shown below.
        </p>
        <div id="zoom-link" class="section-card section-card-gradient">
            <div class="index-image-container virtual-interview-banner">
                <div class="virtual-interview-caption">
                    <h3 style="margin: auto; justify-content: center;">Virtual Interviews</h3>
                    <p>
                        If you have signed up for a virtual interview, please click the button below when it is time for
                        your
                        interview to start.
                    </p>
                    <div style="text-align:center;">
                        <a class="btn btn-primary ms-2 ms-lg-3 join-meeting-btn" title="Join Zoom Meeting"
                            href=@Model.ZoomLink target="_blank">Join
                            Online Meeting
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="home-container">
        <div class="index-image-container home-picture-container">
            <div class="home-picture-caption">
                <h2 class="home-picture-header">
                    @ViewBag.Title
                </h2>

                <hr class="home-picture-divider-line"/>

                <p class="home-picture-text">
                    The UA MIS Program's official platform for managing mock interviews
                </p>
            </div>

            <img class="home-page-image" src="~/images/02_7.jpg" alt="Hewson Hall in the spring">
        </div>
    </div>
}

<div class="home-container max-width-home">
    @if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.StudentRole))
    {
        <div class="section-card section-card-gradient">
            @await Html.PartialAsync("_InterviewEventsPartial", Model.StudentScheduledInterviews)
        </div>
        <div class="section-card section-card-gradient">
            @await Html.PartialAsync("_VolunteerEventsHomePartial", Model.TimeRangeViewModels)
        </div>
    }

    @if (User.Identity.IsAuthenticated && User.IsInRole(RolesConstants.InterviewerRole))
    {
        <div class="section-card section-card-gradient">
            @await Html.PartialAsync("_SignupInterviewerTimeslotsPartial", Model)
        </div>
    }
</div>
