<div>
    Please wait while we attempt to log you in...
</div>

<form id="external-login-form" name="external-login" asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="/" method="post" class="form-horizontal">
    <div>
        <p>
            <div class="form-group" style="display: flex; justify-content: center;">
                <input type="hidden" class="btn btn-primary" name="provider" value="Microsoft" title="Log in using your Microosft account">
            </div>
        </p>
    </div>
</form>

<div onload="attemptLogin()">

</div>

@*<script>
    function attemptLogin() {
        console.log('made it')
        var form = document.getElementById("external-login-form");
        form.submit();
    }
</script>*@

@section Scripts {
    <script>
        window.onload = function () {
            console.log('submitting form...')
            document.forms['external-login'].submit()
            console.log('form submitted!')
        }
    </script>
}
