@using Microsoft.AspNetCore.Identity
@using sp2023_mis421_mockinterviews.Models.UserDb;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item" style="align-self: center; padding: 10px;">
        @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null)
        {
            <img style="width:40px;height:40px; object-fit:cover; border-radius:30px; margin-right: 0px;" src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))">
        }
    </li>
    <li class="nav-item" style="align-self: center;">
            <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @UserManager.GetUserAsync(User).Result.FirstName!</a>
    </li>
        <li class="nav-item" style="align-self: center;">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-primary ms-2 ms-lg-3">Log Out</button>
        </form>
    </li>
}
else
{
    @*<li class="nav-item">
            <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Login">Log In</a>
    </li>*@

    <li class="nav-item">
            <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="/" method="post" class="form-horizontal">
                <div>
                    <p>
                        <div class="form-group" style="display: flex; justify-content: center;">
                            <button type="submit" class="btn btn-primary" name="provider" value="Microsoft" title="Log in using your Microosft account">Log In</button>
                        </div>
                    </p>
                </div>
            </form>
    </li>
        

    @*<li class="nav-item">
            <a class="btn btn-primary ms-2 ms-lg-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
}
</ul>


