@using Microsoft.AspNetCore.Identity
@using sp2023_mis421_mockinterviews.Models.UserDb;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = UserManager.GetUserAsync(User).Result;
}

<div id="center-everything">
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @* <li class="nav-item" style="align-self: center; padding: 10px;">
        @if (user.ProfilePicture != null)
        {
            <img 
                style="width:40px;height:40px; object-fit:cover; border-radius:30px; margin-right: 0px;"
                     src="/Image/Proxy/@user.ProfilePicture">
        }
    </li> *@
        <li class="nav-item" style="align-self: center; margin-right: 10px; margin-bottom: 6px; ">
                <a class="btn btn-outline-primary ms-2 ms-lg-3 w-40" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile" style="width: 120px; font-size: 12px;">Profile</a>
        </li>
        <li class="nav-item" style="align-self: center; margin-right: 10px; margin-bottom: 6px;">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="btn btn-primary ms-2 ms-lg-3 w-40" style="width: 120px; font-size: 12px;">Log Out</button>
            </form>
        </li>
}
else
{
    <li class="nav-item">
        <form id="external-account" asp-area="Identity" asp-page="/Account/ExternalLogin" asp-route-returnUrl="/" method="post" class="form-horizontal">
            <div>
                <p>
                    <div class="form-group" style="display: flex; justify-content: center;">
                        <button type="submit" class="btn btn-primary ms-2 ms-lg-3 w-40" name="provider" value="Microsoft" title="Log in using your Microosft account" style="width: 120px;">Student Login</button>
                    </div>
                </p>
            </div>
        </form>
    </li>

    <li class="nav-item form-horizontal">
        <div>
            <p>
                <div class="form-group" style="display: flex; justify-content: center;">
                    <a class="btn btn-secondary ms-2 ms-lg-3" asp-area="Identity" asp-page="/Account/Login" style="width: 120px;">Guest Login</a>
                </div>
            </p>
        </div>
    </li>
}
</ul>
</div>


