@using sp2023_mis421_mockinterviews.Models.MockInterviewDb
@model Location

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <p></p>
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVirtual" /> Virtual Interviewer
                </label>
            </div>
            <p></p>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InPerson" /> In-Person Interviewer
                </label>
            </div>
            <p></p>
            <label asp-for="InPerson" class="control-label">How would you like to interview?</label><br />*@
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="InPerson" value="true">
                    <label class="form-check-label" for="InPersonTrue">In Person Interviewer</label>
                </div>
                <p></p>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="InPerson" value="false">
                    <label class="form-check-label" for="InPersonFalse">Virtual Interviewer</label>
                </div>
                <span asp-validation-for="InPerson" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="LocationInterviewers" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
