@using sp2023_mis421_mockinterviews.Models.MockInterviewDb
@model Location

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-check form-check-inline">
                <input id="InPersonTrue" class="form-check-input" type="radio" name="InPerson" value="true" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="InPersonTrue">In Person</label>
            </div>
            <div class="form-check form-check-inline">
                <input id="InPersonFalse" class="form-check-input" type="radio" name="InPerson" value="false" data-val="true" data-val-required="Please select an option">
                <label class="form-check-label" for="InPersonFalse">Virtual</label>
            </div>
            <span asp-validation-for="InPerson" class="text-danger"></span>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="LocationInterviewers" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
