@model sp2023_mis421_mockinterviews.Models.MockInterviewDb.VolunteerEvent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VolunteerEvent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Timeslot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Timeslot.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
