@model sp2023_mis421_mockinterviews.Models.MockInterviewDb.Timeslot

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Timeslot</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EventId"/>
            <input type="hidden" asp-for="IsActive" />
            <input type="hidden" asp-for="IsVolunteer" />
            <input type="hidden" asp-for="IsInterviewer" />
            <input type="hidden" asp-for="IsStudent" />
            <input type="hidden" asp-for="Time" />

            <div class="form-group">
                <label asp-for="MaxSignUps" class="control-label"></label>
                <input type="number" class="form-control" asp-for="MaxSignUps" />
                <span asp-validation-for="MaxSignUps" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> | <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
