@using sp2023_mis421_mockinterviews.Models.MockInterviewDb
@using sp2023_mis421_mockinterviews.Data;
@using sp2023_mis421_mockinterviews.Data.Constants;
@model IEnumerable<FAQs>

<html>
<head>
	<title>FAQs</title>
	<style>
		.faq {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-bottom: 20px;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			text-align: center;
		}
		.question {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.answer {
			font-size: 16px;
			margin-left: 20px;
		}
	</style>
	
</head>
<body>
    <h1>Point of Contact</h1>
    <p style="font-size:20px; text-align:center; padding-top: 10px">
        For sign-in issues or other questions, please contact Sam Riddle at <a href="mailto:swriddle@crimson.ua.edu">swriddle@crimson.ua.edu</a>.
    </p>
    <hr />
    <h1>FAQs</h1>
    @foreach (var faq in Model)
    {
        <div class="faq">
            <div class="question">@faq.Question</div>
            <div class="answer">@faq.Answer</div>
        </div>
    }
    @if (User.IsInRole(RolesConstants.StudentRole) || User.IsInRole(RolesConstants.InterviewerRole))
    {
        <hr />
        <div>
            <h1>
                Ask a Question!
            </h1>
        </div>
        <div>
            <h4 style="text-align: center;">
                <a asp-action="Create">Question Form</a>
            </h4>
        </div>
    }
    @if (User.IsInRole(RolesConstants.InterviewerRole))
    {
        <hr />
        <div>
            <h1>
                Resources for Interviewers
            </h1>
        </div>
        <div style="text-align:center">
            @using (Html.BeginForm("DownloadManual", "FAQs"))
            {
                <input class="btn btn-primary ms-2 ms-lg-3" type="submit" value="Download Mock Interview Manual" />
            }
        </div>
        <br />
        <div style="text-align:center">
            @using (Html.BeginForm("DownloadParking", "FAQs"))
            {
                <input class="btn btn-primary ms-2 ms-lg-3" type="submit" value="Download Parking Pass" />
            }
        </div>
    }
</body>
</html>