@using sp2023_mis421_mockinterviews.Models.MockInterviewDb
@using sp2023_mis421_mockinterviews.Data;
@using sp2023_mis421_mockinterviews.Data.Constants;
@model IEnumerable<FAQs>


<html>
<head>
	<title>FAQs</title>
	<style>
		.faq {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-bottom: 20px;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			text-align: center;
		}
		.question {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.answer {
			font-size: 16px;
			margin-left: 20px;
		}
	</style>
	
</head>
<body>
	<h1>FAQs</h1>
	@foreach (var faq in Model)
	{
		<div class="faq">
			<div class="question">@faq.Question</div>
			<div class="answer">@faq.Answer</div>
		</div>
	}
	<hr />
	@if(User.IsInRole(RolesConstants.StudentRole) || User.IsInRole(RolesConstants.InterviewerRole))
    {
        <div>
            <h1>
                Ask a Question!
            </h1>
        </div>
        <div>
			<h4 style="text-align: center;">
				<a asp-action="Create">Question Form</a>
			</h4>
        </div>
    }
	<hr />	
	@if (User.IsInRole(RolesConstants.InterviewerRole))
	{
		<div>
			<h1>
                Resources for Interviewers
            </h1>
		</div>
		<div>
			@using (Html.BeginForm("Download", "FAQs"))
			{
				<input class="btn btn-primary ms-2 ms-lg-3" type="submit" value="Download Mock Interview Manual" />
			}
		</div>
	}
	<hr />

</body>
</html>