@using sp2023_mis421_mockinterviews.Models.MockInterviewDb
@using sp2023_mis421_mockinterviews.Data;
@using sp2023_mis421_mockinterviews.Data.Constants;
@model IEnumerable<Question>

<html>
<head>
	<title>FAQs</title>
	<style>
		.faq {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-bottom: 20px;
			padding: 20px;
			border: 1px solid #ccc;
			border-radius: 5px;
			text-align: center;
		}
		.question {
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.answer {
			font-size: 16px;
			margin-left: 20px;
		}
	</style>
	
</head>
<body>
    
    <div id="center-everything" class="row">
        <h1>Resources</h1>

    <div class="col-md-2"></div>
    <div id="center-everything" class="col-md-8">
        <div id="center-everything">
            <hr />
            <br />
            <h3>Point of Contact</h3>
            <p style="font-size:20px; text-align:center; padding-top: 10px">
                For sign-in issues or other questions, please contact <strong>Kate Owens</strong> at <a target="_blank" href="mailto:nkowens@crimson.ua.edu">nkowens@crimson.ua.edu</a>.
            </p>
        </div>
        
        @if(Model.Any() && Model.Count() > 0)
        {
            <hr />
            <br />
            <div id="center-everything">
                <h3>FAQs</h3>
                <div class="row">
                    @foreach (var faq in Model)
                    {
                            <div class="card" style="width:18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">@faq.Q</h5>
                                    <p class="card-text">@faq.A</p>
                                </div>
                            </div>
                    }
                </div>
            </div>
        }

        <br />
        

        @if (User.IsInRole(RolesConstants.StudentRole) || User.IsInRole(RolesConstants.InterviewerRole))
        {
            <hr />
            <br />
            <div id="center-everything">
                <h3>
                    Ask a Question!
                </h3>
            
                <div>
                    <h4 style="text-align: center;">
                        <a asp-action="Create" class="btn btn-primary">Question Form</a>
                    </h4>
                </div>
            </div>
        }

        <br />

        @if (User.IsInRole(RolesConstants.InterviewerRole))
        {
            <hr />
            <br />
            <div id="center-everything">
                <h3>
                    Resources for Interviewers
                </h3>
                <div style="text-align:center">
                    <a id="manual-button" class="btn btn-primary" asp-controller="FAQs" asp-action="DownloadManual">Download Mock Interview Manual</a> &nbsp;
                    <a id="parking-button" class="btn btn-secondary" asp-controller="FAQs" asp-action="DownloadParking">Download Parking Pass</a>
                </div>
            </div>
        }

    </div>
    <div class="col-md-2"></div>
    </div>

    <script>
        var button = document.getElementById("manual-button");
        button.addEventListener('click', (e) => {
            button.classList.add("disabled");
        })

        var otherButton = document.getElementById("parking-button");
        otherButton.addEventListener('click', (e) => {
            otherButton.classList.add("disabled");
        })
    </script>   
</body>

</html>