@model sp2023_mis421_mockinterviews.Models.ViewModels.UploadSiteContentViewModel;

@{
    ViewData["Title"] = "Upload Site Content";
}

<h1>Upload Site Content</h1>
@* <h4 id="center-everything">FAQs</h4>
 *@<hr />
<div class="row">
    <div class="col-md-8">
        <form id="site-content-form" asp-action="UpdateSiteContent" enctype="multipart/form-data">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <span asp-validation-for="Manual" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div>
                        <label asp-for="Manual"></label>
                    </div>
                    <br>
                    <input type="file"
                           accept=".docx,.doc,.pdf"
                           asp-for="Manual"
                           multiple
                           class="form-control-file"
                           name="Manual"
                    >
                </div>
                <br />
                <div class="form-group">

                </div>
                <br />
                <div>
                    <span asp-validation-for="ParkingPass" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <div>
                        <label asp-for="ParkingPass"></label>
                    </div>
                    <br>
                    <input type="file"
                           accept=".docx,.doc,.pdf"
                           asp-for="ParkingPass"
                           multiple
                           class="form-control-file"
                           name="ParkingPass"
                    >
                </div>
                <br />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" /> | <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

