@model sp2023_mis421_mockinterviews.Models.MockInterviewDb.InterviewEvent

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InterviewEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeslotId" class="control-label"></label>
                <select asp-for="TimeslotId" class="form-control" asp-items="ViewBag.TimeslotId"></select>
                <span asp-validation-for="TimeslotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewType" class="control-label"></label>
                <input asp-for="InterviewType" class="form-control" />
                <span asp-validation-for="InterviewType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewerRating" class="control-label"></label>
                <input asp-for="InterviewerRating" class="form-control" />
                <span asp-validation-for="InterviewerRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewerFeedback" class="control-label"></label>
                <input asp-for="InterviewerFeedback" class="form-control" />
                <span asp-validation-for="InterviewerFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessFeedback" class="control-label"></label>
                <input asp-for="ProcessFeedback" class="form-control" />
                <span asp-validation-for="ProcessFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SignupInterviewerTimeslotId" class="control-label"></label>
                <select asp-for="SignupInterviewerTimeslotId" class="form-control" asp-items="ViewBag.SignupInterviewerTimeslotId"></select>
                <span asp-validation-for="SignupInterviewerTimeslotId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
