@using sp2023_mis421_mockinterviews.Data;
@using sp2023_mis421_mockinterviews.Data.Constants;
@model sp2023_mis421_mockinterviews.Models.ViewModels.InterviewEventManageViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Manual Override</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Override">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InterviewEvent.Id" />
            <input type="hidden" asp-for="InterviewEvent.StudentId" />
            <input type="hidden" asp-for="InterviewEvent.TimeslotId" />

            <div class="form-group">
                <label asp-for="InterviewEvent.InterviewType" class="control-label"></label>
                <select asp-for="InterviewEvent.InterviewType" class="form-control" asp-items='@InterviewTypeConstants.GetInterviewTypesOptions()'>
                    <option value="">-- Select One --</option>
                </select>
                <span asp-validation-for="InterviewEvent.InterviewType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewEvent.Status" class="control-label"></label>
                <select asp-for="InterviewEvent.Status" class="form-control" asp-items='@StatusConstants.GetCompleteStatusOptions()'>
                    <option value="">-- Select One --</option>
                </select>
                <span asp-validation-for="InterviewEvent.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterviewerId" class="control-label"></label>
                <select asp-for="InterviewerId" class="form-control" asp-items="@Model.RequestedInterviewers"></select>
                <span asp-validation-for="InterviewerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
