@using sp2023_mis421_mockinterviews.Models.ViewModels
@model SelfCheckInViewModel

@{
    ViewData["Title"] = "Self Check In";
}

@if(Model.IsCheckedIn)
{
    <h1 style="color:green;font-weight:bold;">Success!</h1>
}
else
{
    <h1 style="color:red;font-weight:bold;">Uh oh!</h1>
}
<div id="center-everything">
    <p>
        @Model.CheckInMessage
    </p>
</div>
