@model sp2023_mis421_mockinterviews.Models.MockInterviewDb.GlobalConfigVar

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Configuration</h1>

<h4>Currently Editing:  '@Model.Name'</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Name" />
            <p style="color:black;">
                **For banners, a value of 0 hides the banner. A value of 1 shows the banner.
            </p>
            <div class="form-group">
                <label asp-for="Value" class="control-label">@Model.Name</label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
